<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-C748YGZD2Y"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-C748YGZD2Y');
    </script>
    <meta charset="UTF-8">
	  <title> Lukas Hack - Economics PhD Student</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	  <meta name="description" content="Welcome! This website provides a CV and research papers of Lukas Hack, Economics PhD Student at the University of Mannheim."/>
	  <meta name="keywords" content="Lukas Hack, Economics, Econ, Macroeconomics, Macro, SVAR, VAR, LP, Counterfactuals, Fiscal, Fiscal Policy, Monetary, Monetary Policy, Monetary Economics, Policy, Monetary Policy, Public Finance, Taxation, Income Taxation, Carbon Taxation, Climate, Climate Policy, Uni, University, Mannheim, Vienna, Wien"/>
	  <meta name="robots" content="index,follow" />
    
{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-C748YGZD2Y"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-C748YGZD2Y');
</script>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
        
        <div style="display:inline;float:center">
        <p>{{ site.description | default: site.github.project_tagline }}
          </p>
          
          
          <img src="{{site.logo | relative_url}}" alt="Logo"  style="width:230px" />
          
          <p>
          <br><b>Mailing address</b>:
          <br>University of Mannheim
          <br>Department of Economics
          <br>L7, 3-5, Room: 226
          <br>68161 Mannheim, Germany
          <br>
          <br><b>E-mail</b>:
            <br>lukas.hack "at" gess.uni-mannheim.de
            
        <br>
        <br><b>Links</b>:
        <br><a href="https://www.uni-mannheim.de/gess/programs/cdse/our-students/2019/lukas-hack/" target="_blank">GESS Website</a>
        <br><a href="https://twitter.com/L_hack_" target="_blank">Twitter</a>
        <br><a href="https://scholar.google.com/citations?view_op=list_works&hl=de&user=0nBIQbwAAAAJ&gmla=AJsN-F5zMl0qd7txC_Eh-RjXVgXVJINezMoo2JWW0JblyK-MvCx4KyhRedpJcHTcEJWoeAIG1ARONKSRFaMpsPKXoSHrmdOC5ze2oYCTj7CUhbIQc7oZYJ3Wpe5GtYWw0yYX-LVQmciWpzfP8JDrtjU3HVfV2D61rg" target="_blank">Google Scholar Page</a> 
        </p>
            
      </header>
      <section>

      {{ content }}
        
      </section>
      
    </div>
     <!--
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %} -->
  </body>
</html>
